<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h3>Entrar</h3>
    <%= devise_error_messages! %>
    <div class="form-group">
      <label>Email</label>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label>Senha</label>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
      <%= f.submit 'Entrar', :class => 'button right' %>
  <% end %>
</div>
