<h1>Realizar depósito</h1>


<script type="text/javascript">
  $(document).ready(function() {
    $('.tf-value').mask('999,99', {reverse: true});

    $("#new_transfer").validate({
      rules: {
        "transfer[destiny_account]": {
          required: true,
          digits: true,
          minlength: 4,
          maxlength: 6
        },
        "transfer[value]": {
          required: true,
          pattern: /^(\d+|\d+,\d{1,2})$/
        }
      },
      messages: {
        "transfer[destiny_account]": {
          required: "Campo obrigatório",
          digits: "Apenas números",
          minlength: "Mínimo 4 números",
          maxlength: "Máximo 6 números"
        },
        "transfer[value]": {
          required: "Campo obrigatório",
          pattern: "Apenas números. Máximo 2 casas decimais."
        }
      },
      errorPlacement: function(error, element) {
        offset = element.offset();
        error.insertAfter(element.parent());
        error.addClass("validationError");
      }
    });
  });
</script>


<%= form_for Transfer.new, html: {autocomplete: "off", :role => 'form'}, url: deposit_path, method: :post do |t| %>

  <input name="transfer[user_id]" id="transfer_user_id" type="hidden" value="<%= current_user.id %>">

  <div class="field">
    <label>Conta</label>
    <p><input id="transfer_destiny" name="transfer[destiny_account]" type="text" /></p>
  </div>

  <div class="field">
    <label>Valor</label>
    <p><%= t.text_field :value, :class => "tf-value" %></p>
  </div>

  <div class="field">
    <%= t.submit "Depositar", :class => "acao" %>
  </div>

<% end %>

<%= link_to '<button>Voltar</button>'.html_safe, accounts_path %>
