<h1>Extrato</h1>

<p>Conta:
  <strong><%= @conta.number %></strong>
</p>
<table style="margin-left: 120px;">
  <thead>
    <tr>
      <th>Data</th>
      <th>Ação</th>
      <th>Valor</th>
      <th>Conta origem</th>
      <th>Conta destino</th>
      <th>Saldo</th>
    </tr>
  </thead>

  <tbody>
    <% @tudo.each do |t1| %>
      <tr>
        <td><%= t1.created_at.to_datetime %></td>
        <td><%= t1.action %></td>
        <% if t1.action == "Depósito" %>
          <td class="deposito">+<%= t1.value %></td>
        <% else %>
          <% if t1.action == "Saque" %>
            <td class="saque">-<%= t1.value %></td>
          <% else %>
          <!-- se é transf, ele ve se new_account ou new_account_destiny esta vazio -->
            <td class="saque"><%= t1.value %></td>
          <% end %>
        <% end %>

        <td><%= t1.origin_acc_number %></td>
        <td><%= t1.destiny_acc_number %></td>
        <td><%= t1.new_balance %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to '<button>Voltar</button>'.html_safe, accounts_path %>
