<h1>Extrato</h1>

<p>Conta:
  <strong><%= @conta.number %></strong>
</p>
<table style="margin: auto;">
  <thead>
    <% if @extratos.empty? %>
      <p></p>
    <% else %>
      <tr>
        <th>Data</th>
        <th>Ação</th>
        <th>Valor</th>
        <th>Conta origem</th>
        <th>Conta destino</th>
        <th>Taxa</th>
      </tr>
    <% end %>
  </thead>

  <tbody>
    <% if @extratos.empty? %>
      <p>Nenhum extrato encontrado para a data selecionada.</p>
    <% else %>
      <% @extratos.each do |t| %>
        <tr>
          <td><%= l t.created_at.to_date, :format => :date %></td>
          <td><%= t.action %></td>
          <% if t.action == "Depósito" %>
            <td class="deposito">R$ +<%= number_with_precision(t.value, :precision => 2, :delimiter => '.', :separator => ',') %></td>
          <% else %>
            <% if t.action == "Saque" %>
              <td class="debito">R$ -<%= number_with_precision(t.value, :precision => 2, :delimiter => '.', :separator => ',') %></td>
            <% else %>
              <% if @conta.number == t.origin_acc_number %>
                <td class="debito">R$ -<%= number_with_precision(t.value, :precision => 2, :delimiter => '.', :separator => ',') %></td>
              <% else %>
                  <td class="deposito">R$ +<%= number_with_precision(t.value, :precision => 2, :delimiter => '.', :separator => ',') %></td>
              <% end %>
            <% end %>
          <% end %>
          <td><%= t.origin_acc_number %></td>
          <td><%= t.destiny_acc_number %></td>
          <% if @conta.number == t.destiny_acc_number %>
            <td>R$ 0,00</td>
          <% else %>
            <% if @conta.number == t.origin_acc_number %>
              <% if t.tax == 0 %>
                <td>R$ <%= number_with_precision(t.tax, :precision => 2, :delimiter => '.', :separator => ',') %></td>
              <% else %>
                <td class="debito">R$ -<%= number_with_precision(t.tax, :precision => 2, :delimiter => '.', :separator => ',') %></td>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to '<button>Voltar</button>'.html_safe, accounts_path %>
