<h1>Extrato</h1>

<p>Conta:
  <strong><%= @conta.number %></strong>
</p>
<table style="margin-left: 120px;">
  <thead>
    <tr>
      <th>Data</th>
      <th>Ação</th>
      <th>Valor</th>
      <th>Conta origem</th>
      <th>Conta destino</th>
      <th>Taxa</th>
    </tr>
  </thead>

  <tbody>
    <% @tudo.each do |t| %>
      <tr>
        <td><%= t.created_at.to_datetime %></td>
        <td><%= t.action %></td>
        <% if t.action == "Depósito" %>
          <td class="deposito">+<%= t.value %></td>
        <% else %>
          <% if t.action == "Saque" %>
            <td class="debito">-<%= t.value %></td>
          <% end %>
        <% end %>
        <td><%= t.origin_acc_number %></td>
        <td><%= t.destiny_acc_number %></td>
        <!-- <td class="debito">-<%= t.tax %></td> -->
      </tr>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to '<button>Voltar</button>'.html_safe, accounts_path %>
