<h1>Extrato</h1>

<style type="text/css">
  tr > th, tr > td {
    text-align: center;
    width: 110px;
    padding: 5px;
  }

</style>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Ação</th>
      <th>Valor</th>
      <th>Conta origem</th>
      <th>Conta destino</th>

    </tr>
  </thead>

  <tbody>
    <% @transfers1.each do |t1| %>
      <tr>
        <td><%= t1.created_at.to_date %></td>
        <td><%= t1.action %></td>
        <td><%= t1.value %></td>
        <td><%= t1.origin_account %></td>
        <td><%= t1.destiny_account %></td>
      </tr>
    <% end %>
    <% @transfers2.each do |t2| %>
      <tr>
        <td><%= t2.created_at.to_date %></td>
        <td><%= t2.action %></td>
        <td><%= t2.value %></td>
        <td><%= t2.origin_account %></td>
        <td><%= t2.destiny_account %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button>Voltar</button>'.html_safe, accounts_path %>
