<h1>Extrato</h1>

<p>Conta:
  <strong><%= @conta.number %></strong>
</p>
<table style="margin: auto;">
  <thead>
    <tr>
      <th>Data</th>
      <th>Ação</th>
      <th>Valor</th>
      <th>Conta origem</th>
      <th>Conta destino</th>
      <th>Taxa</th>
    </tr>
  </thead>

  <tbody>
    <% @extratos.each do |t| %>
      <tr>
        <td><%= l t.created_at.to_date, :format => :date %></td>
        <td><%= t.action %></td>
        <% if t.action == "Depósito" %>
          <td class="deposito">R$ +<%= t.value %></td>
        <% else %>
          <% if t.action == "Saque" %>
            <td class="debito">R$ -<%= t.value %></td>
          <% else %>
            <td class="transf">R$ <%= t.value %></td>
          <% end %>
        <% end %>
        <td><%= t.origin_acc_number %></td>
        <td><%= t.destiny_acc_number %></td>
        <% if t.tax == 0 %>
          <td>R$ <%= t.tax %></td>
        <% else %>
          <td class="debito">R$ -<%= t.tax %></td>
        <% end %>
      </tr>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to '<button>Voltar</button>'.html_safe, accounts_path %>
