<h1>Saldo</h1>

<p>
  <strong>Numero:</strong>
  <%= @conta.number %>
</p>

<p>
  <strong>Saldo:</strong>
  <%= @conta.balance %>
</p>

<p>
  <strong>Status:</strong>
  <%= @conta.status %>
</p>

<%= link_to '<button>Editar</button>'.html_safe, edit_account_path(@conta) %> <br>
<%= link_to '<button>Voltar</button>'.html_safe, accounts_path %>
