<h1>Realizar transferência</h1>

<script type="text/javascript">
  $(document).ready(function() {
    $("#new_transfer").validate({
      rules: {
        "transfer[origin_account]": {
          required: true
        },
        "transfer[destiny_account]": {
          required: true,
          digits: true,
          minlength: 4,
          maxlength: 6
        },
        "transfer[value]": {
          required: true,
          digits: true
        },
        password: {
          required: true,
          minlength: 8
        }
      },
      messages: {
        "transfer[origin_account]": {
          required: "Campo obrigatório"
        },
        "transfer[destiny_account]": {
          required: "Campo obrigatório",
          digits: "Apenas números",
          minlength: "Mínimo 4 números",
          maxlength: "Máximo 6 números"
        },
        "transfer[value]": {
          required: "Campo obrigatório",
          digits: "Apenas números"
        },
        password: {
          required: "Campo obrigatório",
          minlength: "Mínimo 8 caracteres"
        }
      },
      errorPlacement: function(error, element) {
        offset = element.offset();
        error.insertAfter(element.parent());
        error.addClass("validationError");
      }
    });
  });
</script>

<%= form_for Transfer.new, html: {autocomplete: "off", :role => 'form'}, url: transfer_path, method: :post do |t| %>

  <input name="transfer[user_id]" id="transfer_user_id" type="hidden" value="<%= current_user.id %>">

  <div class="field">
    <label>Conta origem</label>
    <p><%= t.collection_select(:origin_account, Account.where(:user_id => current_user.id, :status => "Ativa"), :id, :number, prompt: "Selecione a conta") %></p>
  </div>

  <div class="field">
    <label>Conta destino</label>
    <p><input name="transfer[destiny_account]" type="text" /></p>
  </div>

  <div class="field">
    <label>Valor</label>
    <p><%= t.text_field :value %></p>
  </div>

  <div class="field">
    <label>Digite sua senha:</label>
    <p><%= password_field_tag :password %></p>
  </div>

  <div class="field">
    <h4>Atenção:</h4>
    <p>De segunda a sexta das 9h as 18h a taxa de transferência é 5 reais. Fora desse horário, a taxa é 7 reais.</p>
    <p>Transferências de valor superior a 1000 reais tem um adicional de 10 reais na taxa de transferência.</p>
    <p>A taxa de transferência é cobrada da conta de origem da transação.</p>
  </div>

  <div class="field">
    <%= t.submit "Transferir", :class => "acao" %>
  </div>

<% end %>

<%= link_to '<button>Voltar</button>'.html_safe, accounts_path %>
