<h1>Realizar saque</h1>

<%= form_for Transfer.new, url: withdraw_path, method: :post do |t| %>

  <input name="transfer[user_id]" id="transfer_user_id" type="hidden" value="<%= current_user.id %>">

  <div class="field">
    <label>Conta</label>
    <p><%= t.collection_select(:origin_account, Account.where(:users_id => current_user.id, :status => "Ativa"), :id, :number, prompt: "Selecione a conta") %></p>
  </div>

  <div class="field">
    <label>Valor</label>
    <p><%= t.number_field :value %></p>
  </div>

  <div class="field">
    <label>Digite sua senha:</label>
    <p><%= password_field_tag :password %></p>
  </div>

  <div class="field">
    <%= t.submit "Sacar" %>
  </div>

<% end %>

<%= link_to '<button>Voltar</button>'.html_safe, accounts_path %>
