<%# navigation styled for Bootstrap 3.0 %>

<style type="text/css">
  .logout {
    float: right;
    margin-right: 10px;
    color: #FFF !important;
  }
  .logout:hover {
    color: #000 !important;
    background: #333333 !important;
    text-decoration: none;
  }
  .pg-inicial {
    float: left;
    margin-left: 10px;
    color: #FFF !important;
  }
  .pg-inicial:hover {
    color: #000 !important;
    background: #333333 !important;
  }
</style>

  <% if user_signed_in? %>
    <div class="topbar">
      <%= link_to 'Sair', destroy_user_session_path, :method=>'delete', class: "logout" %>
    </div>
    <div class="sidebar">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Editar perfil', edit_user_registration_path %></li>
        <li><%= link_to 'Contas', accounts_path %></li>
        <li><%= link_to 'Saldos', balance_path %></li>
        <li><%= link_to 'Saques', withdraw_path %></li>
        <li><%= link_to 'Depósitos', deposit_path %></li>
        <li><%= link_to 'Transferências', transfer_path %></li>
        <li><%= link_to 'Extratos', extract_path %></li>
      </ul>
    </div>
  <% else %>
    <div class="topbar-visitor">
      <span><%= link_to 'Página inicial', root_path, class: "pg-inicial" %></span>
    </div>
  <% end %>
  <div class="container">
  </div>

