<h1>Criar conta</h1>

<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input name="account[users_id]" id="account_users_id" type="hidden" value="<%= current_user.id %>">
  <div class="field">
    <label>Número</label>
    <p><%= f.text_field :number %></p>
  </div>
  <div class="field">
    <label>Saldo Inicial</label>
    <p><%= f.number_field :balance %></p>
  </div>
  <!-- isso vai ser feito na hora de salvar no controller -->
  <input name="account[status]" id="account_status" type="hidden" value="Ativa">
  <div class="actions">
    <%= f.submit "Criar" %>
  </div>
<% end %>

<%= link_to '<button>Voltar</button>'.html_safe, accounts_path %>
