<!-- <p>
  <strong>Cliente:</strong>
  <%= current_user.name %>
</p> -->

<p>
  <strong>Numero:</strong>
  <%= @account.number %>
</p>

<p>
  <strong>Saldo:</strong>
  <%= @account.balance %>
</p>

<p>
  <strong>Status:</strong>
  <%= @account.status %>
</p>

<%= link_to '<button>Editar</button>'.html_safe, edit_account_path(@account) %> |
<%= link_to '<button>Voltar</button>'.html_safe, accounts_path %>
