<h1>Dados</h1>

<p>
  <strong>Conta:</strong>
  <%= @account.number %>
</p>

<p>
  <strong>Saldo:</strong>
  R$ <%= @account.balance %>
</p>

<p>
  <strong>Status:</strong>
  <%= @account.status %>
</p>

<%= link_to '<button>Editar</button>'.html_safe, edit_account_path(@account) %> <br>
<%= link_to '<button>Nova conta</button>'.html_safe,   new_account_path  %> <br>
<%= link_to '<button>Voltar</button>'.html_safe, accounts_path %>
